
@{
    ViewBag.Title = "Index";
}

<h2>Index Admin</h2>

<style>

    p{
        visibility: hidden;
    }
    textarea{
        width: 200px;
        height: 100px;
    }
</style>

<form>
    <input type="text" id="title" placeholder="Enter title" />
    <input type="text" id="path" placeholder="Enter path image" />
    <textarea id="text" placeholder="Enter news"></textarea>
    <button id="send">Send</button>
    <p>News added</p>
</form>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/script.js"></script>
